<a href="https://colab.research.google.com/github/Ashwin1999/COVID-19-Data-Mining/blob/master/COVID_19_Data_Mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np
import pandas as pd

import dataset from this link: https://github.com/Ashwin1999/COVID-19-Data-Mining

In [11]:
testing_india=pd.read_csv('https://raw.githubusercontent.com/Ashwin1999/COVID-19-Data-Mining/master/COVID-Data(India)/StatewiseTestingDetails.csv')
testing_india.head()

         Date                        State  TotalSamples Negative  Positive
0  2020-04-17  Andaman and Nicobar Islands        1403.0     1210      12.0
1  2020-04-24  Andaman and Nicobar Islands        2679.0      NaN      27.0
2  2020-04-27  Andaman and Nicobar Islands        2848.0      NaN      33.0
3  2020-05-01  Andaman and Nicobar Islands        3754.0      NaN      33.0
4  2020-05-16  Andaman and Nicobar Islands        6677.0      NaN      33.0

# Reshaping our dataframe

In [12]:
files = [
         'https://raw.githubusercontent.com/Ashwin1999/COVID-19-Data-Mining/master/COVID-Time%20Series%20Data/time_series_covid_19_confirmed.csv',
         'https://raw.githubusercontent.com/Ashwin1999/COVID-19-Data-Mining/master/COVID-Time%20Series%20Data/time_series_covid_19_confirmed_US.csv',
         'https://raw.githubusercontent.com/Ashwin1999/COVID-19-Data-Mining/master/COVID-Time%20Series%20Data/time_series_covid_19_deaths.csv',
         'https://raw.githubusercontent.com/Ashwin1999/COVID-19-Data-Mining/master/COVID-Time%20Series%20Data/time_series_covid_19_deaths_US.csv',
         'https://raw.githubusercontent.com/Ashwin1999/COVID-19-Data-Mining/master/COVID-Time%20Series%20Data/time_series_covid_19_recovered.csv,'
]

In [13]:
df = pd.read_csv(files[0])
confirmed = df.melt(['Province/State', 'Country/Region'], df.columns[4:], var_name='Dates', value_name='Count')
confirmed.Dates = pd.to_datetime(confirmed.Dates)
confirmed.head()

  Province/State Country/Region      Dates  Count
0            NaN    Afghanistan 2020-01-22      0
1            NaN        Albania 2020-01-22      0
2            NaN        Algeria 2020-01-22      0
3            NaN        Andorra 2020-01-22      0
4            NaN         Angola 2020-01-22      0

In [14]:
df = pd.read_csv(files[1])
confirmed_US = df.melt(['Province_State', 'Country_Region'], df.columns[11:], var_name='Dates', value_name='Count')
confirmed_US.rename(columns={"Province_State": "Province/State", "Country_Region": "Country/Region"}, inplace=True)
confirmed_US.Dates = pd.to_datetime(confirmed_US.Dates)
confirmed_US.head()

  Province/State Country/Region      Dates  Count
0        Alabama             US 2020-01-22      0
1        Alabama             US 2020-01-22      0
2        Alabama             US 2020-01-22      0
3        Alabama             US 2020-01-22      0
4        Alabama             US 2020-01-22      0

In [15]:
df = pd.read_csv(files[2])
deaths = df.melt(['Province/State', 'Country/Region'], df.columns[4:], var_name='Dates', value_name='Count')
deaths.Dates = pd.to_datetime(deaths.Dates)
deaths.head()

  Province/State Country/Region      Dates  Count
0            NaN    Afghanistan 2020-01-22      0
1            NaN        Albania 2020-01-22      0
2            NaN        Algeria 2020-01-22      0
3            NaN        Andorra 2020-01-22      0
4            NaN         Angola 2020-01-22      0

In [16]:
df = pd.read_csv(files[3])
deaths_US = df.melt(['Province_State', 'Country_Region'], df.columns[12:], var_name='Dates', value_name='Count')
deaths_US.rename(columns={"Province_State": "Province/State", "Country_Region": "Country/Region"}, inplace=True)
deaths_US.Dates = pd.to_datetime(deaths_US.Dates)
deaths_US.head()

  Province/State Country/Region      Dates  Count
0        Alabama             US 2020-01-22      0
1        Alabama             US 2020-01-22      0
2        Alabama             US 2020-01-22      0
3        Alabama             US 2020-01-22      0
4        Alabama             US 2020-01-22      0

In [17]:
df = pd.read_csv('https://raw.githubusercontent.com/Ashwin1999/COVID-19-Data-Mining/master/COVID-Time%20Series%20Data/time_series_covid_19_recovered.csv')
recovered = df.melt(['Province/State', 'Country/Region'], df.columns[4:], var_name='Dates', value_name='Count')
recovered.Dates = pd.to_datetime(recovered.Dates)
recovered.head()

  Province/State Country/Region      Dates  Count
0            NaN    Afghanistan 2020-01-22      0
1            NaN        Albania 2020-01-22      0
2            NaN        Algeria 2020-01-22      0
3            NaN        Andorra 2020-01-22      0
4            NaN         Angola 2020-01-22      0